/* Write your code here. */

.bgContainer {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 20vh;
}

.h1 {
  color: #f8fafc;
}
